# Introduction to Data Analysis
This notebook will be an introduction to working with real-world data in Python. Objectives to teach:
- Importing necessary libraries.
- Loading and inspecting data.
- Cleaning missing values.
- Renaming and formatting columns.
- Basic statistics.

Welcome to your first data analysis script! In this notebook, you'll learn:
- How to load and inspect a dataset.
- How to clean messy data.
- Basic descriptive statistics.

Let's get started!

## Python Package Imports and Setup

In [ ]:
### Step 1: Import Necessary Libraries
import pandas as pd                         # Data manipulation
import numpy as np                          # Numerical operations
import matplotlib.pyplot as plt             # Visualization
import seaborn as sns                       # Advanced visualizations

### Step 2: Load a sample dataset
df = pd.read_csv("Data/Sample-Data.csv")    # Read .csv data into Pandas Dataframe

### Step 3: View the first few rows
df.head()                                   # Peek at the first few rows

In [3]:
### Check data types and missing values
df.info()

### Summary statistics
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10 non-null     int64
 1   name         8 non-null      object
 2   age          8 non-null      float64
 3   city         9 non-null      object
 4   income       8 non-null      float64
 5   signup_date  9 non-null      object
dtypes: float64(2), int64(1), object(3)
memory usage: 612.0+ bytes

             id        age        income
count  10.00000   8.000000      8.000000
mean    5.50000  27.875000  67750.000000
std     3.02765  13.881514  13488.089984
min     1.00000  -1.000000  50000.000000
25%     3.25000  24.250000  58750.000000
50%     5.50000  29.500000  66000.000000
75%     7.75000  34.750000  76250.000000
max    10.00000  45.000000  90000.000000